/* .tester {
  color: red;
} */

.container {
  display: flex; /* makes this box a flexbox */
  max-width: 80%; /* makes this box take up 80% of display width */
  border: 1px solid black; /* puts a border around the padding of the box */
  margin: auto; /* margin is outside of the border, auto means it centers vertically and horizontally */
  flex-direction: column; /* default flex direction is row, this will center all child elements vertically */
  height: 50rem;
  align-items: center;
  /* since flex dir is column, this centers things down the middle (equal spacing from the element to either side) */
  justify-content: center; /* this centers the elements along the flex direction, in this case it spaces evenly between components */
}

.searchbox{
  display: flex;
  width: 80%;
  justify-content: space-between;
  /* border: 1px solid red; */
}
.search{
  display: flex;
  width: 20rem;
}

